body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    font-family: "Montserrat", sans-serif;
    padding: 20px;
}

model-viewer {
    width: 100%;
    height: 400px;
}

h1 {
    color: white;
    font-weight: 900;
    margin: 0;
    font-size: 10vh;
    letter-spacing: -5px;
}

p {
    color: white;
    margin-top: 0px;

}

button {
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    width: 100%;
}