body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    padding: 20px;
    font-family: Helvetica, sans-serif;
    color: white;
}

model-viewer {
    width: 100%;
    height: 400px;
}

h1 {
    color: white;
    font-weight: normal;
    margin: 0;
    font-size: 11vh;
    font-weight: 900;
    letter-spacing: -6px;
}

h2 {
    line-height: 42px;
    font-size: 55px;
    letter-spacing: -5px;
    margin: 0px;
    margin-bottom: 15px
}

img {
    width: 100%;
}

button {
    width: 100%;
    padding: 20px;
}

.instagramIcon {
    width: 25px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.divRedesSociales {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.imgIconViewModel {
    width: 70px;
    margin-right: 10px;
}

.divInstrucciones {
    display: flex;
    align-items: center;
}